<!doctype html>
<html ng-app="playAngular">

  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>angular-wakanda-front</title>
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="./bootstrap-3.1.1-dist/css/bootstrap.css">
    <link rel="stylesheet" href="./bootstrap-3.1.1-dist/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="./styles/style.css">
  </head>

  <body ng-controller="PlayController" class="well">

    <div class="header">
      <h1>Play Angular-Wakanda Alpha 1</h1>
    </div>
    <hr>
    <div class="content">

      <section class="container">
        <h2>Countries</h2>
        <p>All</p>
        <p>{{countries.length}} found</p>
        <ul>
          <li ng-repeat="country in countries">
            <label>
              <input type="radio" value="{{$index}}" ng-model="$parent.currentCountryIndex" ng-change="updateCurrentCountry()">
              <span>{{country.name}}</span>
            </label>
          </li>
        </ul>
      </section>

      <section class="container">
        <h2>Companies</h2>
        <p>From <strong>{{currentCountry.name}}</strong></p>
        <p>{{companies.length}} found</p>
        <ul>
          <li ng-repeat="company in companies">
            <label>
              <input type="radio" value="{{$index}}" ng-model="$parent.currentCompanyIndex" ng-change="updateCurrentCompany()">
              <span>{{company.name}}</span>
            </label>
          </li>
        </ul>
      </section>

      <section class="container">
        <h2>Employees</h2>
        <p>From <strong>{{currentCompany.name}}</strong></p>
        <p>{{employees.length}} found</p>
        <ul>
          <li ng-repeat="employee in employees">
            <label>
              <input type="radio" value="{{$index}}" ng-model="$parent.currentEmployeeIndex" ng-change="updateCurrentEmployee()">
              <span>{{employee.fullName}}</span>
            </label>
          </li>
        </ul>
      </section>

      <section class="container">
        <h2>Employee Details</h2>
        <p>From <strong>{{currentEmployee.fullName}}</strong></p>
        <p><img src="{{currentEmployee.photo.__deferred.uri}}"></p>
        <p><strong>First Name</strong>: {{currentEmployee.firstName}}</p>
        <p><strong>Last Name</strong>: {{currentEmployee.lastName}}</p>
        <p><strong>Title</strong>: {{currentEmployee.title}}</p>
        <p><strong>Salary</strong>: {{currentEmployee.salary}}</p>
        <p><strong>Gender</strong>: {{currentEmployee.gender}}</p>
        <p><strong>Age</strong>: {{currentEmployee.age}}</p>
      </section>

    </div>
    <script src="./scripts/jquery-2.1.0.min.js"></script>
    <script src="./bootstrap-3.1.1-dist/js/bootstrap.js"></script>

    <script src="./bower_components/angular/angular.js"></script>
    <script src="./bower_components/angular-resource/angular-resource.js"></script>
    <script src="./bower_components/angular-cookies/angular-cookies.js"></script>
    <script src="./bower_components/angular-sanitize/angular-sanitize.js"></script>

    <script src="./scripts/services/angular-wakanda-connector/WAF/Dates.js"></script>
    <script src="./scripts/services/angular-wakanda-connector/WAF/extra-init.js"></script>
    <script src="./scripts/services/angular-wakanda-connector/WAF/Rest.js"></script>
    <script src="./scripts/services/angular-wakanda-connector/WAF/Data-Provider.js"></script>
    <script src="./scripts/services/angular-wakanda-connector/WAF/extra-extends.js"></script>
    <script src="./scripts/services/angular-wakanda-connector/angular-wakanda-connector.js"></script>
    <script src="./scripts/services/wakandaConnect1.js"></script>
    <script src="app.js"></script>
  </body>
</html>
